<template name="contentHeader">
  <section class="content-header">
    <h1>{{capitalize title}} {{#if category}}<small>{{capitalize category}}</small>{{/if}}</h1>

    <ol class="breadcrumb">
      <li><a href="{{pathFor 'dashboardHome' }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>

      {{#if category}}
        <li>{{category}}</li>
      {{/if}}

      <li class="active">
        <strong>{{title}}</strong>
      </li>
    </ol>
  </section>
</template>
