<template name="header">
    <a href="/" class="logo">
        <!-- Add the class icon to your logo image or logo icon to add the margining -->
        <span class="logo-mini"><b>P</b></span>
        <span class="logo-lg"><b>Piratada.co</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Tasks: style can be found in dropdown.less -->

                {{#if isInRole 'lifetime, staff' }}
                <li class="dropdown tasks-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-flag"></i>
                        <span class="label label-danger">&infin;</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have a lifetime subscription</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li><!-- Task item -->
                                    <a href="#">
                                        <h3>
                                            Time left
                                            <small class="pull-right">Unlimited</small>
                                        </h3>
                                        <div class="progress xs">
                                            <div class="progress-bar {{#if creditAboutToExpire}}progress-bar-red{{else}}progress-bar-green{{/if}}" style="width:100%" role="progressbar" aria-valuenow="{{userCredits}}" aria-valuemin="0" aria-valuemax="100">
                                                <span class="sr-only">100% Complete</span>
                                            </div>
                                        </div>
                                    </a>
                                </li><!-- end task item -->
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="{{pathFor 'getTimePackage'}}"><i class="fa fa-shopping-cart"></i> Buy time package</a>
                        </li>
                    </ul>
                </li>
                {{else}}
                  <li class="dropdown tasks-menu">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-clock-o"></i>
                      </a>
                      <ul class="dropdown-menu">
                          <li class="header">
                            <strong>Your services status</strong>
                          </li>
                          <li>
                              <ul class="menu">
                                  {{# each userServices}}
                                      {{# if userHasServiceSubscription this}}
                                        <li>
                                          <a href="#">
                                            <i class="fa fa-{{this}} text-{{this}}"></i>
                                              You are running on <b>{{getServiceRole this}}</b>
                                          </a>
                                        </li>
                                      {{else}}
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    <i class="fa fa-{{this}} text-{{this}}"></i>
                                                    {{# if serviceTimeToExpire}}
                                                        Expires {{ prettifyDate serviceTimeToExpire }}
                                                        <small class="pull-right">{{ prettifyDateFormat serviceTimeToExpire}}</small>
                                                    {{else}}
                                                        <span class="text-red">You do not have time left</span>
                                                    {{/if}}
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-{{this}}" style="width:{{serviceTimePerCent}}%" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">{{userCredits}}% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->
                                      {{/if}}
                                  {{/each}}
                              </ul>
                          </li>
                          <li class="footer">
                              <a href="{{pathFor 'getTimePackage'}}">
                                {{#if isInRole 'free-trial' }}
                                  <i class="fa fa-shopping-cart"></i> Upgrade my account
                                {{else}}
                                  <i class="fa fa-cog"></i> Manage subscriptions
                                {{/if}}
                              </a>
                          </li>
                      </ul>
                  </li>
                {{/if}}
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{getImageUser currentUser._id}}" class="user-image" alt="User Image"/>
                        <span class="hidden-xs"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header bg-light-blue">
                            <img src="{{getImageUser currentUser._id}}" class="img-circle" alt="User Image" />
                            <p>
                            </p>
                        </li>
                        <li class="user-body">
                            {{#if isInRole 'subscribed, staff, admin, professional, business, basic, premium' }}
                                <div class="col-xs-4 text-center">
                                    <a href="{{pathFor 'accountProfile' }}">Profile</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="{{pathFor 'accountInvoices' }}">Invoices</a>
                                </div>
                                 <div class="col-xs-4 text-center">
                                    <a href="{{pathFor 'accountOrders' }}">Orders</a>
                                </div>
                            {{else}}
                                <div class="col-xs-6 text-center">
                                    <a href="{{pathFor 'accountProfile' }}">Profile</a>
                                </div>
                                 <div class="col-xs-6 text-center">
                                    <a href="{{pathFor 'accountOrders' }}">Orders</a>
                                </div>
                            {{/if}}

                        </li>
                        <li class="user-footer">
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat" id="logout">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</template>
