<template name="sideMenu">
	<!-- Sidebar user panel -->
	<div class="user-panel">
		<div class="pull-left image">
			<img src="{{ getImageUser currentUser._id}}" class="img-circle" alt="User Image" />
		</div>
		<div class="pull-left info">
			<p></p>
			<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
		</div>
	</div>
	<!-- sidebar menu: : style can be found in sidebar.less -->

	<ul class="sidebar-menu">
		<li class="header">MAIN MENU</li>
		<li class="{{isActiveRoute 'dashboardHome'}}">
			<a href="{{pathFor 'dashboardHome'}}">
				<i class="fa fa-dashboard"></i> <span>Dashboard</span>
			</a>
		</li>
		<li class="header">MANAGE ACCOUNTS</li>

		<li class="treeview">
			<a href="#">
				<i class="fa fa-edit"></i> <span>Meneame</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="{{pathFor 'serviceAddUser' service='meneame' }}"><i class="fa fa-user"></i> Add User</a>
				</li>
				<li>
					<a href="{{pathFor 'upvoteDownvote' service='meneame' }}"><i class="fa fa-user"></i> Upvote/Downvote</a>
				</li>
				<li>
					<a href="{{pathFor 'servicesAccounts' service='meneame' }}"><i class="fa fa-user"></i> Accounts</a>
				</li>
				<!--
				<li><a href="{{pathFor 'meneameActions'}}"><i class="fa fa-user"></i> Upvote & Downvote</a></li>
				<li><a href="{{pathFor 'meneameUserList'}}"><i class="fa fa-sitemap"></i> Meneame Users</a></li>
				<li><a href="{{pathFor 'usersByService'  service='meneame' }}"><i class="fa fa-sitemap"></i> Meneame Users</a></li>
			-->
			</ul>
		</li>


		<li class="treeview">
			<a href="#">
				<i class="fa fa-edit"></i> <span>Reddit</span>
				<i class="fa fa-angle-left pull-right"></i>
			</a>
			<ul class="treeview-menu">
				<li>
					<a href="{{pathFor 'serviceAddUser' service='reddit' }}"><i class="fa fa-user"></i> Add Reddit User</a>
				</li>
				<li>
					<a href="{{pathFor 'upvoteDownvote' service='reddit' }}"><i class="fa fa-user"></i> Upvote/Downvote</a>
				</li>

				<li>
					<a href="{{pathFor 'servicesAccounts' service='reddit' }}"><i class="fa fa-user"></i> Accounts</a>
				</li>
			</ul>
		</li>




		{{#if isInRole 'admin, staff' }}
	     <li class="header">ADMIN</li>
	     <li class="treeview">
	       <a href="#">
	         <i class="fa fa-edit"></i> <span>Admin</span>
	         <i class="fa fa-angle-left pull-right"></i>
	       </a>
	       <ul class="treeview-menu">
	         <li><a href="{{pathFor 'adminUsers'}}"><i class="fa fa-user"></i> Users</a></li>

	         <li><a href="{{pathFor 'adminProxys'}}"><i class="fa fa-sitemap"></i> Proxys</a></li>

					 {{#if isInRole 'admin' }}
					 	<li><a href="{{pathFor 'adminInvitations'}}"><i class="fa fa-users"></i> Invitations</a></li>
         		<!--<li><a href="{{pathFor 'adminCrons'}}"><i class="fa fa-cog"></i> Crons</a></li>-->
         		<li><a href="{{pathFor 'adminJobs'}}"><i class="fa fa-cogs"></i> Jobs</a></li>
		        <!-- <li><a href="{{pathFor 'adminStats'}}"><i class="fa fa-info"></i> Stats</a></li> -->
	         {{/if}}
	       </ul>
	     </li>
	     {{/if}}
	</ul>
</template>
