<template name="headerStatic">
      <!-- Static navbar -->
      <nav id="mainNav" class="navbar navbar-default navbar-static">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Piratada.co</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="{{pathFor 'pricingPage'}}">Pricing</a>
                  </li>
                  {{#if currentUser}}
                    <li>
                      <a href="{{pathFor 'dashboardPage'}}" id="goDashboard" style="color:#F85E0F"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                  {{else}}
                    <li>
                        <a href="{{pathFor 'login'}}" id="login">Login</a>
                    </li>
                    <li>
                      <a href="{{pathFor 'wizardSignUp'}}" id="signup">Sign Up</a>
                    </li>
                  {{/if}}
              </ul>
          </div>
      </nav>
</template>
<template name="footerStatic">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <h4><strong>piratada.co</strong></h4>
          <p>50 Raffles Place<br>Singapore Land Tower</p>
          <ul class="list-unstyled">
              <li class="footer-list">
                  <i class="fa fa-globe"></i> <a href="http://blog.piratada.co" target="_blank">Blog</a>
                  <i class="fa fa-dollar"></i> <a href="{{pathFor 'pricingPage'}}" target="_blank">Pricing</a>
                  <i class="fa fa-lock"></i>  <a href="{{pathFor 'privacyPage'}}">Privacy Policy</a>
                  <i class="fa fa-file-text"></i>  <a href="{{pathFor 'termsPage'}}">Terms of Service</a>
                  <i class="fa fa-envelope"></i>  <a href="mailto:support@piratada.co">support@piratada.co</a>
              </li>
          </ul>
          <br>
          <ul class="list-inline">
              <li>
                  <a href="https://twitter.com/trypiratada" target="_blank"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
              </li>
              <li>
                  <a href="http://instagram.com/piratada.co" target="_blank"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
              </li>
          </ul>
          <p class="text-muted">
              Made with <i class="fa fa-heart"></i> from different parts of the world by
              <a href="http://www.elevenyellow.com" target="_blank">ElevenYellow</a>
          </p>
          <hr class="small">
          <p class="text-muted">Copyright &copy; piratada.co 2015</p>
        </div>
    </div>
</template>
