
@input-color: #333;
@light-blue: #3c8dbc; //Primary
@red: #dd4b39;        //Danger
@green: #00a65a;      //Success
@aqua: #00c0ef;       //Info
@yellow: #f39c12;     //Warning
@orange: #F85E0F;
@blue: #0073b7;
@activity-side-width: 280px;
@screen-md-min: 992px;
@screen-lg-min: 1300px;
@screen-xs-max: 780px;
@twitter: #00c0ef;
@soundcloud: #F85E0F;
@instagram: #0073b7;


.typeahead-block .tt-suggestion {
  padding: 5px 10px;
  background-color: white;
}
.typeahead-block .tt-suggestion:hover {
  background-color: #f1f1f1;
}

.typeahead-block .tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.typeahead-block .tt-menu{
  border: 1px solid @blue;
  border-top:0px;
  width: 100% !important;
}
.typeahead-block .country-name {
  font-style: italic;
  font-size:14px;
  margin:0;
}
.typeahead-block .country-name:hover {
  cursor: pointer;
}
.twitter-typeahead{
  display:block !important;
}

#addAccountBox{
  display:none;
}

//service page
.language-selector{
  display: inline-block;
  margin-right:10px;
  @media (max-width: @screen-xs-max) {
    margin-bottom:10px;
  }
}
.removeAllTriggers{
  margin-top:-1px;
  margin-right: 10px;
}

.callout.callout-default{
  background-color: #f4f4f4;
}

.callout.negative-keywords-help{
  margin-top:10px;
  i{
    margin-right:10px;
  }
}
.pac-container.pac-logo{
  z-index: 2000;
}

.btn-group.button-tag{
  margin-right:10px;
  margin-bottom: 10px;
  .btn.btn-default{
    i{
      font-size:12px;
    }
    i.info-help{
      margin-right:5px;
      font-weight: bold;
    }
  }
  .btn-default.label-button{
    // background-color: white;
    font-weight: bold;
  }
  .btn-default.label-button:hover{
    cursor: default;
  }
  ul.dropdown-menu{
    background-color:#f4f4f4;
    border-color:#ccc;
    li.divider{
      background-color: #ddd;
    }
    li.no-action{
      a:hover{
        background-color: inherit;
        cursor:default;
      }
    }
    i.fa-pencil{
      margin-left:5px;
    }
  }
}

.input-tags{
  div.tt-menu{
    background-color: white;
    width:100%;
    margin-top: 32px;
    border: 1px solid @instagram;
    border-top-color:white;
  }
  div.tt-dataset.tt-dataset-search{
    padding:10px;
  }
  div.tt-suggestion.tt-selectable{
    display: inline-block;
  }
  .btn.button-suggest{
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    .button-small-text{
      font-weight: normal;
      font-size:12px;
    }
  }
}

.users-list > li {
  width:25%;
  padding: 5px;
  img{
    max-width: 50px !important;
  }
  .users-list-date{
    min-height: 38px;
  }
}
