<head>
    <link rel="icon" sizes="16x16" href="/favicon.ico">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Ionicons -->
    <title>piratada | Grow your social impact</title>
    <meta name="description" content="piratada helps you grow your social media exposure. Get more real followers on autopilot - start with a free trial." />

    <!-- Open Graph data -->
  <meta property="og:title" content="piratada | Grow your social impact" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://www.piratada.co/images/logo-piratada.png" />
  <meta property="og:description" content="piratada helps you grow your social media exposure. Get more real followers on autopilot - start with a free trial." />
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="https://www.piratada.co/">
  <meta name="twitter:title" content="piratada | Grow your social impact">
  <meta name="twitter:description" content="piratada helps you grow your social media exposure. Get more real followers on autopilot - start with a free trial.">
  <meta name="twitter:creator" content="@trypiratada">
  <meta name="twitter:image" content="https://www.piratada.co/images/logo-piratada.png">
  <script src="//cdn.optimizely.com/js/2656060308.js"></script>
</head>

<template name="layout">
  {{> Template.dynamic template=header}}
  <div id="content">
    <div class="container">
      {{> Template.dynamic template=main}}
    </div>
  </div>
</template>
