<template name="homeLayout">
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">Piratada.co</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-scroll" href="#about">About</a>
          </li>
          <li>
            <a class="page-scroll" href="#pricing">Pricing</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">Contact</a>
          </li>
          <li>
            {{#if currentUser}}
              {{#if isInRole 'admin, staff, subscribed' }}
                <a class="link-dashboard" href="{{pathFor 'dashboardHome'}}">
                  <i class="fa fa-dashboard"></i> Dashboard
                </a>
              {{else}}
                <a class="link-dashboard" href="{{pathFor 'payments'}}">
                  <i class="fa fa-shopping-cart"></i> Complete Payment
                </a>
              {{/if}}
            {{else}}
            <a class="page-scroll" href="{{pathFor 'signIn'}}">Sign In</a> {{/if}}
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <header class="home" id="page-top">
    <div class="header-content">
      <div class="header-content-inner">
        <h1>Content marketing on <b style="color:#F05F40;">Quora</b> just got a lot smarter</h1>
        <hr>
        <p>Transform your content marketing efforts into clear leads with our analytics and market intelligence tool</p>
        <a href="#about" class="btn btn-home btn-primary btn-lg page-scroll" style="margin:0px 10px;">Find Out More</a>
        <a href="{{pathFor 'askInvitation'}}" class="btn btn-home btn-default btn-lg" style="margin:0px 10px;">Get Invited</a>
      </div>
    </div>
  </header>

  <section class="home bg-white" id="about">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h2 class="block-title">Identify the most interesting questions about your topic.</h2>
          <p class="block-text">Writing a good answer is hard. Why waste effort on questions that have little to no potential of being viewed? Our algorithm identifies and ranks the questions that will yield better results.</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <img src="/images/devices.png" class="block-img">
        </div>
      </div>
    </div>
  </section>
  <section class="home bg-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <img src="/images/cloud.png" class="block-img">
        </div>
        <div class="col-sm-6 col-xs-12 block-top">
          <h2 class="block-title">Track your position in all your answers.</h2>
          <p class="block-text">Questions in Quora can have up to 11 million views - a lot of them get more than 5000 views a day. Having your answer in the top spot is amazing real estate.</p>
          <p class="block-text">We help you track variations in your positions and, more importantly, understand how the algorithm works so you can maximize your impact.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="home bg-white">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12 block-top">
          <h2 class="block-title">Ask the right questions (for SEO traffic).</h2>
          <p class="block-text">Quora receives millions of visits per day from Google. If you ask any question to Google and Quora will probably be in the top 10. </p>
          <p class="block-text">Our system will identify questions on your topic that haven't been asked before - providing your company with some nice real estate.</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <img src="/images/SEO.png" class="block-img">
        </div>
      </div>
    </div>
  </section>
  <section class="home bg-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <img src="/images/maximize.png" class="block-img">
        </div>
        <div class="col-sm-6 col-xs-12">
          <h2 class="block-title">Maximize your upvotes. Understand the system.</h2>
          <p class="block-text">We will provide you with the tools, tips and tricks to maximize upvotes on your answers.</p>
          <p class="block-text">Our team will help you understand the algorithm and achieve the most viewed spot faster.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="home block-primary" id="pricing">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Price</h2>
          <hr class="light">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-diamond wow bounceIn text-faded"></i>
            <!-- <h3>$79/mo <span>for the first 10 customers</span></h3>-->
            <h3>Pricing coming soon</h3>
            <!--<p class="pricing"> <span class="badge wow bounceIn animated">4</span> spots left</p>-->
          </div>
        </div>
      </div>
    </div>
  </section>


  <aside class="bg-dark">
    <div class="container text-center">
      <div class="call-to-action">
        <h2>Do it smarter using Piratada!</h2>
        <a href="{{pathFor 'askInvitation'}}" class="btn btn-home btn-default btn-xl wow tada">Get invited now!</a>
      </div>
    </div>
  </aside>

  <section class="home" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Let's Get In Touch!</h2>
          <hr class="primary">
          <p>Do you have more questions about Piratada? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
        </div>
        <div class="col-lg-4 col-lg-offset-2 text-center">
          <i class="fa fa-twitter fa-3x wow bounceIn"></i>
          <p><a href="http://twitter.com/elevenyellow">Elevenyellow</a></p>
        </div>
        <div class="col-lg-4 text-center">
          <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <p><a href="mailto:wat@elevenyellow.com">wat@elevenyellow.com</a></p>
        </div>
      </div>
    </div>
  </section>
</template>
