<template name="layoutLogin">
    <div class="register-box">
      <div class="register-logo">
        <a href="/"><b>piratada</b> business</a>
      </div>
      {{> Template.dynamic template=main}}
    </div>
</template>
