<template name="layoutDashboard">
  <div class="wrapper">
    {{> bertAlert}}

    <header class="main-header">
      {{> Template.dynamic template=header}}
    </header>

    <aside class="main-sidebar">
      <section class="sidebar">
        {{> Template.dynamic template=sideMenu}}
      </section>
    </aside>

    <div class="content-wrapper row-offcanvas row-offcanvas-left">
      {{> Template.dynamic template=main}}
    </div>

    <!-- ./wrapper
    <footer class="main-footer">
      <strong>Copyright © 2015 <a href="">piratada.co</a>.</strong> All rights reserved.
      <small class="terms-privacy">
          <a href="" target="_blank">Terms of Service</a>
          <a href="" target="_blank">Privacy Policy</a>
        </small>
    </footer>
    -->
  </div>
</template>
