<template name="usersPage">
  <section class="content-header">
    <h1>Users</h1>
    <ol class="breadcrumb">
      <li><a href="{{pathFor 'dashboardPage'}}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Users</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
    {{> userForm }}
    {{# if currentUser.profile.quoraUsers}}
      {{> quoraUsers}}
    {{/if}}
    </div>
  </section>
</template>

<template name="quoraUsers">
  {{#if Template.subscriptionsReady}}
    {{# each quoraUsers}}
      {{> quoraUser}}
    {{/each}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="userForm">
  <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Add Quora Username</h3>
        </div>
        <form role="form" id="addUsernameForm" style="position:relative;">
          <div class="box-body">
           <div class="overlay"><i class="fa fa-refresh fa-spin"></i></div>
            <div class="form-group {{errorClass}}">
              <label class="control-label">{{errorMessage}}</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Write down your Quora username" name="username">
              </div>
              <p class="help-block"><small>Example: http://quora.com/<b>username</b></small></p>
            </div>

          </div><!-- /.box-body -->
          <div class="box-footer">
              <button class="btn btn-primary btn-sm btn-flat pull-right" id="submitUsername">Submit</button>
          </div>
        </form>
      </div>
  </div>
</template>

<template name="quoraUser">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="box box-widget widget-user">
            <div class="widget-user-header bg-aqua-active">
              <h3 class="widget-user-username">{{name}}</h3>
              <h5 class="widget-user-desc">{{description}}</h5>
            </div>
            <div class="widget-user-image">
              <img class="img-circle" src="{{profile_picture}}" onerror="this.src='/images/avatar3.png'" alt="User Avatar">
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">{{answers}}</h5>
                    <span class="description-text">Answers</span>
                  </div><!-- /.description-block -->
                </div><!-- /.col -->
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header">{{followers}}</h5>
                    <span class="description-text">FOLLOWERS</span>
                  </div><!-- /.description-block -->
                </div><!-- /.col -->
                <div class="col-sm-4">
                  <div class="description-block">
                    <h5 class="description-header">{{following}}</h5>
                    <span class="description-text">FOLLOWING</span>
                  </div><!-- /.description-block -->
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <a href="{{pathFor 'quoraUserPage' username=this.username}}" class="btn btn-primary btn-block"><i class="fa fa-line-chart"></i> See analytics</a>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <button type="button" class="btn btn-default btn-block pull-right unfollowUser">Unfollow</button>
                </div>
              </div>
            </div>
        </div>
    </div>
</template>
