<template name="adminUsers">
  {{> contentHeader title='Admin' category='Users'}}
  <section class="content animated fadeInRight">
    <div class="row">
  		<div class="col-md-12">
  			<div class="box box-primary">
  				<div class="box-header">
  					<h3 class="box-title">Users <small>Total: {{getPublishedCount 'usersCounter'}}</small></h3>
  				</div>
  				<div class="box-body table-responsive no-padding">
  					{{> tabular table=TabularTables.UsersAdmin selector=usersSelector class="table table-hover"}}
  				</div>
  			</div>
  		</div>
    </div>
  </section>
</template>


<template name="tabularUserName">
  <a href="{{pathFor 'adminUserDashboard' this._id }}">
  	<i class="fa fa-close text-red"></i>
  	<br/><small>{{this._id}}</small>
  </a>
</template>
