<template name="adminJobs">
  {{> contentHeader title='Admin' category='Jobs'}}
  <section class="content animated fadeInRight">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Jobs <small>Total: {{getPublishedCount 'jobsCounter'}}</small></h3>
            <div class="box-tools pull-left">
              {{> jobControls}}
            </div>
          </div>
          <div class="box-body table-responsive no-padding">
            {{> tabular table=TabularTables.JobsAdmin class="table table-hover"}}
          </div>
          {{> tabularJobLog }}
        </div>
      </div>
    </div>
  </section>
</template>

<template name="jobControls">
  <button type="button" class="btn btn-sm btn-success clear-completed">
    <i class="fa fa-check"></i> Clear Completed
  </button>
  <button type="button" class="btn btn-sm btn-default pause-queue" data-toggle="button">
    <i class="fa fa-pause"></i> Pause all
  </button>
  <button type="button" class="btn btn-sm btn-info restart-queue">
    <i class="fa fa-repeat"></i> Restart all
  </button>
  <button type="button" class="btn btn-sm btn-warning cancel-queue">
    <i class="fa fa-ban"></i> Cancel all
  </button>
  <button type="button" class="btn btn-sm btn-danger remove-queue">
    <i class="fa fa-remove"></i> Remove all
  </button>
  <button type="button" class="btn btn-sm btn-danger stop-queue">
    <i class="fa fa-power-off"></i> Shutdown Queue
  </button>
</template>

<template name="tabularJobStatus">
  {{#if running}}
    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" min-width="60px" aria-valuenow="{{progress.percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress.percent}}%;">
        <span class="text-center">{{progress.percent}}%</span>
      </div>
    </div>
  {{else}}
    <span class="label label-{{statusBG}}">{{status}}</span>
  {{/if}}
</template>


<template name="tabularJobActions">
  <p class="button-column">
    <button type="button" class="btn show-job-log btn-default btn-sm" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Show Log">
      <i class="fa fa-info"></i>
    </button>
    {{#if pausable}}
      <button type="button" class="btn pause-job btn-default btn-sm" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Pause Job">
        <i class="fa fa-pause"></i>
      </button>
    {{/if}}
    {{#if resumable}}
      <button type="button" class="btn resume-job btn-default btn-sm" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Resume Job">
        <i class="fa fa-play"></i>
      </button>
    {{/if}}
    {{#if restartable}}
      <button type="button" class="btn restart-job btn-info btn-sm" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Restart Job">
        <i class="fa fa-repeat"></i>
      </button>
    {{/if}}
    {{#if rerunable}}
      <button type="button" class="btn rerun-job btn-info btn-sm" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Rerun Job">
        <i class="fa fa-refresh"></i>
      </button>
    {{/if}}
    {{#if cancellable}}
      <button type="button " class="btn cancel-job btn-warning btn-sm" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Cancel Job">
        <i class="fa fa-ban"></i>
      </button>
    {{/if}}
    {{#if removable}}
      {{#if rerunable}}
        <button type="button" class="btn remove-job btn-success btn-sm" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Remove Job">
          <i class="fa fa-check"></i>
        </button>
      {{else}}
        <button type="button" class="btn remove-job btn-danger btn-sm" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Remove Job">
          <i class="fa fa-remove"></i>
        </button>
      {{/if}}
    {{/if}}
  </p>
</template>

<template name="tabularJobLog">
  <div id="job-log-modal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Modal Default</h4>
        </div>
        <div class="modal-body">
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</template>

<template name="tabularJobLogTable">
  {{showData}}

  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Time</th>
        <th>Since</th>
        <th>RunId</th>
        <th>Level</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody>
    {{#each log}}
      <tr>
        <td><small>{{compactDate time}}</small></td>
        <td><small>{{prettifyDate time}}</small></td>
        <td><small>{{runId}}</small></td>
        <td><span class="label label-{{level}}">{{level}}</span></td>
        <td><small>{{{message}}}</small></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</template>
