<template name="adminInvitations">
  <section class="content-header">
    <h1>Admin <small>Invitations</small></h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Invitations</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Invitations <small>Total: {{getPublishedCount 'invitationsCounter'}}</small></h3>
            <div class="box-tools">
              <div class="credit-filters">
                <!-- <a role="button" class="btn btn-default verified"><i class="fa fa-check text-green"></i></a>
                <a role="button" class="btn btn-default unverified"><i class="fa fa-close text-red"></i></a>
                <a role="button" class="btn btn-default twitter"><i class="fa fa-twitter text-aqua"></i></a>
                <a role="button" class="btn btn-default instagram"><i class="fa fa-instagram text-blue"></i></a> -->
              </div>
            </div>
          </div>
          <div class="box-body table-responsive">
            {{> tabular table=TabularTables.InvitationsAdmin class="table table-hover"}}
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<template name="tabularRegistrationCode">
  {{#if reg_code}}
    <span class="label label-default">{{registration_link}}</span>
  {{else}}
    <button class="btn btn-primary btn-sm generate_code">Generate Code</button>
  {{/if}}
</template>
