<template name="serviceAddUser">
  <div class="box box-solid">
    {{> contentHeader title=service category="Add account"}}
  </div>

  <section class='content'>
    <div class='row'>
      <div class='col-xs-12'>
        <div class='box'>

          <div class='box-body'>
            <form id="addPrivateAccount" role="form">
              <div class="box-body">
                <div class="form-group">
                  <label for="username">Username or Email</label>
                  <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                </div>
              </div>

              <div class='box-footer'>
                <input type="submit" value="Submit" class="btn btn-primary" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
