<template name="serviceAccountActivities">
  <div class="box box-solid">
    {{> contentHeader title=service category="Activities"}}
  </div>

  <section class='content'>
    <div class='row'>
      <div class='col-xs-12'>
        <div class='box'>

          <div class='box-body'>
            {{>tabular table=TabularTables.servicesAccountsActivities selector=selector class="table table-hover"}}
          </div>

        </div>
      </div>
    </div>
  </section>

</template>
