<template name="servicesAccounts">
  <div class="box box-solid">
    {{> contentHeader title=service category="Accounts"}}
  </div>

  <section class='content'>
    <div class='row'>
      <div class='col-xs-12'>
        <div class='box'>

          <div class='box-body'>
            {{>tabular table=TabularTables.servicesAccounts selector=selector class="table table-hover"}}
          </div>

        </div>
      </div>
    </div>
  </section>
</template>

<template name='accountName'>
  <a href="{{pathFor 'serviceAccountActivities' service=service account=_id }}">{{ account }}</a>
</template>

<template name="servicesAccountsActions">
  <button type="button" class="btn btn-sm btn-{{#if active}}danger{{else}}success{{/if}} enable-account-toggle">
    <i class="fa fa-close"></i> {{#if active}}Disable{{else}}Enable{{/if}}
  </button>

  <button type="button" class="btn btn-sm btn-danger delete-account">
    <i class="fa fa-close"></i> Delete
  </button>
</template>
