<template name="upvoteDownvote">
  <div class="box box-solid">
    {{> contentHeader title=service category="Upvotes - Downvotes"}}
  </div>
  
  <section class='content'>
    <div class='row'>
      <div class='col-xs-12'>
        <div class='box'>
          <div class='box-body'>
            {{#if formType is 'simple' }}
              {{> upDownSimple }}
            {{else}}
              {{> upDownSimple }}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </section>

</template>

<template name='upDownSimple'>
  <form id="addPrivateAccount" role="form">
    <div class="box-body">
      <div class="form-group">
        <label for="username">Url</label>
        <input type="text" class="form-control" id="url" placeholder="Url" name="url">
      </div>
    </div>

    <div class="box-body">
      <div class="form-group">
        <label for="username">Num Up Votes</label>
        <input type="number" class="form-control" id="upvotes" placeholder="Upvotes number" name="upvotes">
      </div>
    </div>

    <div class='box-footer'>
      <input type="submit" value="Submit" class="btn btn-primary"/>
    </div>
  </form>
</template>
