<template name="accounts_layout">
    <div class="register-box">
      <div class="register-logo">
        <a href="/"><b>Piratada</b>.co</a>
      </div>
      {{> Template.dynamic template=main}}
    </div>
</template>
