<template name="askInvitation">
    <div class="register-box-body">
      <p class="login-box-msg">Register a new membership</p>
      <div class="at-form">
        <div class="at-title">
          <h3>Ask for an invitation</h3>
        </div>
        <div class="at-pwd-form" id="askInvitation">
          <form role="form" id="at-invitation-form" novalidate="" action="#" method="POST">
            <fieldset>
            <div class="at-input form-group {{errorClass}}">
              <label class="control-label" for="at-field-email">
                Email
              </label>
              <input type="email" class="form-control" id="at-field-email" name="at-field-email" placeholder="Email" autocapitalize="none" autocorrect="off">
              <span class="help-block">{{errorMessage}}</span>
            </div>
            <button type="submit" class="at-btn submit btn btn-lg btn-block btn-default" id="at-btn">Get Invited</button>
            </fieldset>
          </form>
        </div>
        <div class="at-pwd-form" id="thanksInvitation">
          <div class="alert alert-default">
            <h4>  <i class="icon fa fa-check"></i> Thank you!</h4>
            We will contact you as soon as possible.
          </div>
        </div>
    </div>
  </div>
</template>
