<template name="signIn">

    <div class="register-box-body">
      {{> atForm}}
      <p class="login-box-msg">You need an invitation code, if you do not have one.
        <a href="{{pathFor 'askInvitation'}}">Ask for it!</a>
      </p>
    </div>
</template>
